.task-form {
    background-color: #fdfed5; /* Couleur de fond douce (jaune) */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-header h2 {
    margin: 0;
    font-size: 20px;
    text-align: center; /* Centrer le titre */
    flex: 1;
  }
  
  .close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: red;
    transition: opacity 0.3s;
  }
  
  .close-btn:hover {
    opacity: 0.7;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  input:focus {
    border-color: #ffcd38;
    outline: none;
  }

  .button-33 {
    background-color: #FDFF9F;
    border-radius: 10px;
    box-shadow:  
    rgba(255, 223, 85, 0.2) 0 -25px 18px -14px inset, /* Jaune clair pour l'ombre intérieure */
    rgba(255, 223, 85, 0.15) 0 1px 2px, 
    rgba(255, 223, 85, 0.15) 0 2px 4px, 
    rgba(255, 223, 85, 0.15) 0 4px 8px, 
    rgba(255, 223, 85, 0.15) 0 8px 16px, 
    rgba(255, 223, 85, 0.15) 0 16px 32px; 
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
  }
  
  .button-33:hover {
    box-shadow: 
    rgba(255, 223, 85, 0.35) 0 -25px 18px -14px inset, /* Jaune accentué pour l'ombre intérieure au survol */
      rgba(255, 223, 85, 0.25) 0 1px 2px, 
      rgba(255, 223, 85, 0.25) 0 2px 4px, 
      rgba(255, 223, 85, 0.25) 0 4px 8px, 
      rgba(255, 223, 85, 0.25) 0 8px 16px, 
      rgba(255, 223, 85, 0.25) 0 16px 32px;
    transform: scale(1.05) ;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajustez cette hauteur en fonction de votre conteneur */
  }
  